@charset "UTF-8";
.side-8zPYf6 .item-PXvHYJ[aria-controls="connections-tab" i] + .separator-gCa7yv,
.side-8zPYf6 .item-PXvHYJ[aria-controls="connections-tab" i] + .separator-gCa7yv + .header-2RyJ0Y,
.side-8zPYf6 .item-PXvHYJ[aria-controls="discord-nitro-tab" i],
.side-8zPYf6 .item-PXvHYJ[aria-controls="nitro-server-boost-tab" i],
.side-8zPYf6 .item-PXvHYJ[aria-controls="library-inventory-tab"i],
.side-8zPYf6 .item-PXvHYJ[aria-controls="billing-tab"i],
.side-8zPYf6 .item-PXvHYJ[aria-controls="subscriptions-tab"i]{display: none;}

/* SETTINGS SIDEBAR ICONS */
[aria-label=USER_SETTINGS] .sidebar-CFHs9e .item-PXvHYJ {
  padding-left: 50px !important;
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e .item-PXvHYJ:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 15px;
  margin-top: -2px;
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e .item-PXvHYJ:hover:before {
  transform: rotateY(180deg);
  transition: all 0.15s ease-in-out;
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=my-account-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/person.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="privacy-&-safety-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/security.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=authorized-apps-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/apps.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=connections-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/link.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=appearance-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/camera.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="voice-&-video-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/mic.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="text-&-images-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/chat.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=notifications-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/notifications.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=keybinds-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/keyboard.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=language-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/language.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=windows-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/windows.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=linux-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/linux.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=streamer-mode-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/videocam.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=advanced-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/bug.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=game-activity-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/games.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=overlay-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/aspect_ratio.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=changelog-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/history.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=hypesquad-online-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/hypesquad.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=logout-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/exit.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=accessibility-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/experiments.svg);
}
.premiumLabel-fDtYys > svg {
  margin-right: 15px;
}

/* BD SETTINGS SIDEBAR ICONS */
.sidebar-CFHs9e .bd-settings-tab.item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/betterdiscord.svg);
}
.sidebar-CFHs9e .bd-customcss-tab.item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/code_braces.svg);
}
.sidebar-CFHs9e .bd-plugins-tab.item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/puzzle.svg);
}
.sidebar-CFHs9e .bd-themes-tab.item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/palette.svg);
}

/*Hide Nitro*/
.buttonContainer-28fw2U>.button-38aScr:not(.emojiButton-pET4wH):not(.buttonWrapper-1ZmCpA).colorBrand-3pXr91{
  display:none;
}
/*Nitro button*/
.buttons-3JBrkn > .button-38aScr{
  display: none;
}
/* Hide Home Nitro button */
.privateChannels-1nO12o .channel-2QD9_O[href="/store"]{
  display: none;
}
/* Color of friends games activity */

.activity-2myFBH{
  color: rgba(0, 255, 0, 0.8);
}
.activity-2myFBH strong {
  color: rgba(255, 0, 255, 0.8);
}
.container-2Pjhx- .activity-525YDR{
  color: rgba(0, 255, 0, 0.8);
}
.container-2Pjhx- .activity-525YDR strong {
  color: rgba(255, 0, 255, 0.8);
}
.container-2Pjhx- .activity-2Gy-9S{
  color: rgba(0, 255, 0, 0.8);
}
.container-2Pjhx- .activity-2Gy-9S strong {
  color: rgba(255, 0, 255, 0.8);
}

/* MEMBERS */
.container-2wlB3z {
  background-color: transparent;
}

.membersWrap-2h-GB4 {
  min-width: auto;
  min-height: 100%;
  flex-basis: var(--members-width);
}

.members-1998pB {
  width: var(--members-width);
  background: rgba(0, 0, 0, calc(var(--background-shading) * .6));
}
.members-1998pB > div {
  background-color: transparent;
}

.members-1998pB .membersGroup-v9BXpm {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  transition: all 0.15s ease-in-out;
  opacity: 0.85;
}
.members-1998pB .membersGroup-v9BXpm:hover {
  opacity: 1;
}
.members-1998pB .membersGroup-v9BXpm:before {
  content: "";
  height: 2px;
  flex-grow: 1;
  background: linear-gradient(to left, currentColor 50%, transparent);
  margin-right: 5px;
}
.members-1998pB .membersGroup-v9BXpm:after {
  content: "";
  height: 2px;
  flex-grow: 1;
  background: linear-gradient(to right, currentColor 50%, transparent);
  margin-left: 5px;
}
.members-1998pB .member-3-YXUe {
  background: transparent !important;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.members-1998pB .member-3-YXUe.offline-3nJYBR .avatar-3uk_u9 {
  filter: grayscale(100%) blur(1px);
  transition: all 0.5s ease-in-out;
}
.members-1998pB .member-3-YXUe.offline-3nJYBR:hover .avatar-3uk_u9 {
  filter: none;
}
.members-1998pB .member-3-YXUe .layout-2DM8Md {
  position: relative;
  background: transparent;
  transition: all 0.15s ease-in-out, transform 0.1s ease-in-out;
  z-index: 1;
}
.members-1998pB .member-3-YXUe .layout-2DM8Md:active {
  transform: scale(0.9);
}
.members-1998pB .member-3-YXUe .roleColor-rz2vM0 {
  max-width: 100%;
  overflow: visible;
  transition: all 0.15s ease-in-out;
}
.members-1998pB .member-3-YXUe .roleColor-rz2vM0:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.07) 90%, transparent);
  border-radius: 3px;
  opacity: 0;
  transition: all 0.15s ease-in-out;
  z-index: -1;
  pointer-events: none;
}
.members-1998pB .member-3-YXUe .roleColor-rz2vM0:after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, var(--main-color) 90%, transparent);
  border-radius: 3px;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  pointer-events: none;
}
.members-1998pB .member-3-YXUe [style*="color:"].roleColor-rz2vM0:before, .members-1998pB .member-3-YXUe [style*="color:"].roleColor-rz2vM0:after {
  background: linear-gradient(to right, currentColor 90%, transparent);
}
.members-1998pB .member-3-YXUe:hover .roleColor-rz2vM0:before, .members-1998pB .member-3-YXUe.selected-aXhQR6 .roleColor-rz2vM0:before {
  opacity: 1;
}
.members-1998pB .member-3-YXUe:hover [style*="color:"].roleColor-rz2vM0:before, .members-1998pB .member-3-YXUe.selected-aXhQR6 [style*="color:"].roleColor-rz2vM0:before {
  opacity: 0.1;
}
.members-1998pB .member-3-YXUe.selected-aXhQR6 .roleColor-rz2vM0 {
  -webkit-text-fill-color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}
.members-1998pB .member-3-YXUe.selected-aXhQR6 .roleColor-rz2vM0:after {
  right: 0;
}
.members-1998pB .memberGroupsPlaceholder-3mwPub {
  margin: 0 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  color: rgba(255, 255, 255, 0.3);
}
.members-1998pB .memberGroupsPlaceholder-3mwPub:before, .members-1998pB .memberGroupsPlaceholder-3mwPub:after {
  content: "";
  height: 2px;
  flex-grow: 1;
}
.members-1998pB .memberGroupsPlaceholder-3mwPub:before {
  background: linear-gradient(to left, currentColor 50%, transparent);
  margin-right: calc(50% + 5px);
  margin-left: -50%;
}
.members-1998pB .memberGroupsPlaceholder-3mwPub:after {
  background: linear-gradient(to right, currentColor 50%, transparent);
  margin-right: -50%;
  margin-left: calc(50% + 5px);
}
.members-1998pB .memberGroupsPlaceholder-3mwPub,
.members-1998pB .placeholderAvatar-damqh6,
.members-1998pB .placeholderUsername-2B_OA9,
.members-1998pB .mulitplePlaceholderUsername-pogq9I {
  background: rgba(255, 255, 255, 0.3);
}

.addMembersIcon-1Bz_VS {
  background-color: var(--background-overlay);
}

.emptyStateHeader-W2ruuN {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  transition: all 0.15s ease-in-out;
  opacity: 1;
}
.emptyStateHeader-W2ruuN:before {
  content: "";
  height: 2px;
  flex-grow: 1;
  background: linear-gradient(to left, currentColor 50%, transparent);
  margin-right: 5px;
}
.emptyStateHeader-W2ruuN:after {
  content: "";
  height: 2px;
  flex-grow: 1;
  background: linear-gradient(to right, currentColor 50%, transparent);
  margin-left: 5px;
}

.emptyStateIcon-1JWNn4 {
  background-color: var(--main-color);
  color: #fff;
}
/* Channel list seperator */

.name-3l27Hl {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  font-weight: 700;
  text-align: center;
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
}
.name-3l27Hl:before {
  content: "";
  height: 2px;
  flex-grow: 1;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to left, var(--main-color) 50%, transparent);
  margin-right: 5px;
}
.name-3l27Hl:after {
  content: "";
  height: 2px;
  flex-grow: 1;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to right, var(--main-color) 50%, transparent);
  margin-left: 5px;
}
.mainContent-2h-GEV:hover .name-3l27Hl {
  opacity: 1;
}
.sidebar-2K8pFh .containerDefault-3tr_sE .wrapper-PY0fhH .name-3l27Hl, .sidebar-2K8pFh .containerDragAfter-Zk9oyx .wrapper-PY0fhH .name-3l27Hl, .sidebar-2K8pFh .containerDragBefore-1YqewQ .wrapper-PY0fhH .name-3l27Hl, .sidebar-2K8pFh .containerUserOver-98-yc7 .wrapper-PY0fhH .name-3l27Hl {
  color: rgba(64, 128, 196, 1.0);
}

/* Status Picker - Compact */

#status-picker .scrollerBase-289Jih {
  display: grid;
}

#status-picker-custom-status,
#status-picker div[role=group] {
  grid-column: 1/5;
}

#status-picker .item-1tOPte:not(#status-picker-custom-status, #status-picker-switch-account) .status-1fhblQ {display: none;}
#status-picker .description-2L932D {display: none;}
#status-picker .separator-2I32lJ {display: none;}

#status-picker .status-1fhblQ {
  margin-left: 8px;
}

#status-picker .customEmojiPlaceholder-37iZ_j,
#status-picker .switchAccountsIcon-355frb {
  margin-left: 1px;
}

#status-picker .mask-1qbNWk {
  height: 78%; 
  width: 78%;
  margin-left: 3px;
}

#status-picker-online,
#status-picker-idle,
#status-picker-dnd {
  margin-right: 20px;
}

#status-picker-online .statusItem-33LqPf,
#status-picker-idle .statusItem-33LqPf,
#status-picker-dnd .statusItem-33LqPf,
#status-picker-invisible .statusItem-33LqPf {
  padding: 8px 8px;
}

#status-picker-custom-status .statusItem-33LqPf {
  padding: 6px 8px;
}

#status-picker .customEmojiPlaceholder-37iZ_j {
  background-image: none;
  background-color: var(--interactive-normal);
  mask: var(--icon) center/contain no-repeat;
  -webkit-mask: var(--icon) center/contain no-repeat;
  width: 22px;
  height: 22px;
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M11.99,2C6.47,2,2,6.48,2,12s4.47,10,9.99,10C17.52,22,22,17.52,22,12S17.52,2,11.99,2z M8.5,8C9.33,8,10,8.67,10,9.5 S9.33,11,8.5,11S7,10.33,7,9.5S7.67,8,8.5,8z M16.75,14.75C15.8,16.39,14.03,17.5,12,17.5s-3.8-1.11-4.75-2.75 C7.06,14.42,7.31,14,7.69,14h8.62C16.7,14,16.94,14.42,16.75,14.75z M15.5,11c-0.83,0-1.5-0.67-1.5-1.5S14.67,8,15.5,8 S17,8.67,17,9.5S16.33,11,15.5,11z'/%3E%3C/svg%3E");
}

#status-picker .colorDefault-2K3EoJ.focused-3afm-j .customEmojiPlaceholder-37iZ_j {
  background: var(--interactive-active);
}

#status-picker .switchAccountsIcon-355frb {
  background-image: none;
  background-color: var(--interactive-normal);
  mask: var(--icon) center/contain no-repeat;
  -webkit-mask: var(--icon) center/contain no-repeat;
  width: 22px;
  height: 22px;
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M17,20H4V7c0-0.55-0.45-1-1-1S2,6.45,2,7v13c0,1.1,0.9,2,2,2h13c0.55,0,1-0.45,1-1S17.55,20,17,20z M20,2H8 C6.9,2,6,2.9,6,4v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V4C22,2.9,21.1,2,20,2z M14,5c1.66,0,3,1.34,3,3c0,1.66-1.34,3-3,3 s-3-1.34-3-3C11,6.34,12.34,5,14,5z M7.76,16c1.47-1.83,3.71-3,6.24-3s4.77,1.17,6.24,3H7.76z'/%3E%3C/g%3E%3C/svg%3E");
}

#status-picker .colorDefault-2K3EoJ.focused-3afm-j .switchAccountsIcon-355frb {
  background: var(--interactive-active);
}

#status-picker-custom-status,
#status-picker-switch-account,
#status-picker-switch-account--manage-accounts {
  margin-top: 12px !important;
}

#status-picker-custom-status::after {
  content: "";
  background: var(--background-modifier-accent);
  position: absolute;
  top: -6px;
  left: 2px;
  width: 98%;
  height: 1px;
}

#status-picker-switch-account::after {
  content: "";
  background: var(--background-modifier-accent);
  position: absolute;
  top: -6px;
  left: 2px;
  width: 98%;
  height: 1px;
}

#status-picker-switch-account--manage-accounts::after {
  content: "";
  background: var(--background-modifier-accent);
  position: absolute;
  top: -7px;
  left: 2px;
  width: 98%;
  height: 1px;
}

#status-picker-dnd::after,
#status-picker-idle::after,
#status-picker-online::after {
  content: "";
  background: var(--background-modifier-accent);
  position: absolute;
  top: 6px;
  left: 50px;
  width: 1px;
  height: 24px;
}

/**
 * @name RadialStatus
 * @author Gibbu#1211
 * @version 2.0.0
 * @invite ZHthyCw
 * @description Changes the status icons to wrap around the avatar. Shape can be changed inside the theme file.
 * @source https://github.com/DiscordStyles/RadialStatus
 * @website https://www.gibbu.me
*/

@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");

:root {
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */

  --rs-online-color: #43b581; /* Colour for online status */
  --rs-idle-color: #faa61a; /* Colour for idle status */
  --rs-dnd-color: #f04747; /* Colour for dnd status */
  --rs-offline-color: #636b75; /* Colour for offline status */
  --rs-streaming-color: #643da7; /* Colour for streaming status */
  --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */

  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
}
