@charset "UTF-8";
.side-8zPYf6 .item-PXvHYJ[aria-controls="connections-tab" i] + .separator-gCa7yv,
.side-8zPYf6 .item-PXvHYJ[aria-controls="connections-tab" i] + .separator-gCa7yv + .header-2RyJ0Y,
.side-8zPYf6 .item-PXvHYJ[aria-controls="discord-nitro-tab" i],
.side-8zPYf6 .item-PXvHYJ[aria-controls="nitro-server-boost-tab" i],
.side-8zPYf6 .item-PXvHYJ[aria-controls="library-inventory-tab"i],
.side-8zPYf6 .item-PXvHYJ[aria-controls="billing-tab"i],
.side-8zPYf6 .item-PXvHYJ[aria-controls="subscriptions-tab"i]{display: none;}

/* SETTINGS SIDEBAR ICONS */
[aria-label=USER_SETTINGS] .sidebar-CFHs9e .item-PXvHYJ {
  padding-left: 50px !important;
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e .item-PXvHYJ:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 15px;
  margin-top: -2px;
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e .item-PXvHYJ:hover:before {
  transform: rotateY(180deg);
  transition: all 0.15s ease-in-out;
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=my-account-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/person.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="privacy-&-safety-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/security.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=authorized-apps-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/apps.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=connections-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/link.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=appearance-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/camera.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="voice-&-video-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/mic.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="text-&-images-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/chat.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=notifications-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/notifications.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=keybinds-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/keyboard.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=language-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/language.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=windows-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/windows.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=linux-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/linux.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=streamer-mode-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/videocam.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=advanced-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/bug.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=game-activity-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/games.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=overlay-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/aspect_ratio.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=changelog-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/history.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=hypesquad-online-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/hypesquad.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=logout-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/exit.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=accessibility-tab].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/experiments.svg);
}
.premiumLabel-fDtYys > svg {
  margin-right: 15px;
}

/* BD SETTINGS SIDEBAR ICONS */
.sidebar-CFHs9e .bd-settings-tab.item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/betterdiscord.svg);
}
.sidebar-CFHs9e .bd-customcss-tab.item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/code_braces.svg);
}
.sidebar-CFHs9e .bd-plugins-tab.item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/puzzle.svg);
}
.sidebar-CFHs9e .bd-themes-tab.item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/palette.svg);
}

/*Hide Nitro*/
.buttonContainer-28fw2U>.button-38aScr:not(.emojiButton-pET4wH):not(.buttonWrapper-1ZmCpA).colorBrand-3pXr91{
  display:none;
}
/*Nitro button*/
.buttons-3JBrkn > .button-38aScr{
  display: none;
}
/* Hide Home Nitro button */
.privateChannels-1nO12o .channel-2QD9_O[href="/store"]{
  display: none;
}
/* Color of friends games activity */

.activity-2myFBH strong {
  color: rgba(255, 0, 255, 1);
}
.container-2Pjhx- .activity-525YDR strong {
  color: rgba(255, 0, 255, 1);
}
.container-2Pjhx- .activity-2Gy-9S strong {
  color: rgba(255, 0, 255, 1);
}

/* MEMBERS */
.container-2wlB3z {
  background-color: transparent;
}

.membersWrap-2h-GB4 {
  min-width: auto;
  min-height: 100%;
  flex-basis: var(--members-width);
}

.members-1998pB {
  width: var(--members-width);
  background: rgba(0, 0, 0, calc(var(--background-shading) * .6));
}
.members-1998pB > div {
  background-color: transparent;
}

.members-1998pB .membersGroup-v9BXpm {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  transition: all 0.15s ease-in-out;
  opacity: 0.85;
}
.members-1998pB .membersGroup-v9BXpm:hover {
  opacity: 1;
}
.members-1998pB .membersGroup-v9BXpm:before {
  content: "";
  height: 2px;
  flex-grow: 1;
  background: linear-gradient(to left, currentColor 50%, transparent);
  margin-right: 5px;
}
.members-1998pB .membersGroup-v9BXpm:after {
  content: "";
  height: 2px;
  flex-grow: 1;
  background: linear-gradient(to right, currentColor 50%, transparent);
  margin-left: 5px;
}
.members-1998pB .member-3-YXUe {
  background: transparent !important;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.members-1998pB .member-3-YXUe.offline-3nJYBR .avatar-3uk_u9 {
  filter: grayscale(100%) blur(1px);
  transition: all 0.5s ease-in-out;
}
.members-1998pB .member-3-YXUe.offline-3nJYBR:hover .avatar-3uk_u9 {
  filter: none;
}
.members-1998pB .member-3-YXUe .layout-2DM8Md {
  position: relative;
  background: transparent;
  transition: all 0.15s ease-in-out, transform 0.1s ease-in-out;
  z-index: 1;
}
.members-1998pB .member-3-YXUe .layout-2DM8Md:active {
  transform: scale(0.9);
}
.members-1998pB .member-3-YXUe .roleColor-rz2vM0 {
  max-width: 100%;
  overflow: visible;
  transition: all 0.15s ease-in-out;
}
.members-1998pB .member-3-YXUe .roleColor-rz2vM0:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.07) 90%, transparent);
  border-radius: 3px;
  opacity: 0;
  transition: all 0.15s ease-in-out;
  z-index: -1;
  pointer-events: none;
}
.members-1998pB .member-3-YXUe .roleColor-rz2vM0:after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, var(--main-color) 90%, transparent);
  border-radius: 3px;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  pointer-events: none;
}
.members-1998pB .member-3-YXUe [style*="color:"].roleColor-rz2vM0:before, .members-1998pB .member-3-YXUe [style*="color:"].roleColor-rz2vM0:after {
  background: linear-gradient(to right, currentColor 90%, transparent);
}
.members-1998pB .member-3-YXUe:hover .roleColor-rz2vM0:before, .members-1998pB .member-3-YXUe.selected-aXhQR6 .roleColor-rz2vM0:before {
  opacity: 1;
}
.members-1998pB .member-3-YXUe:hover [style*="color:"].roleColor-rz2vM0:before, .members-1998pB .member-3-YXUe.selected-aXhQR6 [style*="color:"].roleColor-rz2vM0:before {
  opacity: 0.07;
}
.members-1998pB .member-3-YXUe.selected-aXhQR6 .roleColor-rz2vM0 {
  -webkit-text-fill-color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}
.members-1998pB .member-3-YXUe.selected-aXhQR6 .roleColor-rz2vM0:after {
  right: 0;
}
.members-1998pB .memberGroupsPlaceholder-3mwPub {
  margin: 0 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  color: rgba(255, 255, 255, 0.3);
}
.members-1998pB .memberGroupsPlaceholder-3mwPub:before, .members-1998pB .memberGroupsPlaceholder-3mwPub:after {
  content: "";
  height: 2px;
  flex-grow: 1;
}
.members-1998pB .memberGroupsPlaceholder-3mwPub:before {
  background: linear-gradient(to left, currentColor 50%, transparent);
  margin-right: calc(50% + 5px);
  margin-left: -50%;
}
.members-1998pB .memberGroupsPlaceholder-3mwPub:after {
  background: linear-gradient(to right, currentColor 50%, transparent);
  margin-right: -50%;
  margin-left: calc(50% + 5px);
}
.members-1998pB .memberGroupsPlaceholder-3mwPub,
.members-1998pB .placeholderAvatar-damqh6,
.members-1998pB .placeholderUsername-2B_OA9,
.members-1998pB .mulitplePlaceholderUsername-pogq9I {
  background: rgba(255, 255, 255, 0.3);
}

.addMembersIcon-1Bz_VS {
  background-color: var(--background-overlay);
}

.emptyStateHeader-W2ruuN {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  transition: all 0.15s ease-in-out;
  opacity: 1;
}
.emptyStateHeader-W2ruuN:before {
  content: "";
  height: 2px;
  flex-grow: 1;
  background: linear-gradient(to left, currentColor 50%, transparent);
  margin-right: 5px;
}
.emptyStateHeader-W2ruuN:after {
  content: "";
  height: 2px;
  flex-grow: 1;
  background: linear-gradient(to right, currentColor 50%, transparent);
  margin-left: 5px;
}

.emptyStateIcon-1JWNn4 {
  background-color: var(--main-color);
  color: #fff;
}
